/*网页图片自适应*/
img {
  width: 100px;
  height: 100px;
  -ms-interpolation-mode: bicubic;
}
a {
  color: black;
  text-decoration: none;
}
.text {
  font-size: 40px;
}
.text-image {
  font-size: 20px;
}
